/* // Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
// SPDX-License-Identifier: MIT-0 */

.grid-container {
    margin-top: 15px;
}

.prompt-container {
    margin-top: 15px;
    margin-bottom: 35px;
}
